.element {
  display: inline-block;
  padding: 4px 8px;
  border-radius: 1000px;
  border-width: 1px;
  border-style: solid;
  font-size: 12px;
}

.zero {
  background-color: transparent;
  border-color: var(--gray);
  color: var(--black);
}

.accent {
  background-color: var(--accent);
  border-color: var(--accent);
  color: var(--white);
}

.red {
  background-color: var(--red);
  border-color: var(--red);
  color: var(--white);
}

.green {
  background-color: var(--green-bg);
  border-color: var(--green-bg);
  color: var(--green);
}

.gray {
  background-color: var(--gray-badge);
  border-color: var(--gray-badge);
  color: var(--black);
}
